openpyxl
scikit-learn
joblib
requests
tqdm
xgboost
lightgbm
shap
pandas
appnope
asttokens
comm
debugpy
decorator
executing
ipykernel
ipython
jedi
jupyter_client
jupyter_core
matplotlib-inline
nest-asyncio
packaging
parso
pexpect
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
python-dateutil
pyzmq
six
stack-data
tornado
traitlets
typing_extensions
wcwidth